html{
    padding:0;
    margin:0;
    width:100%;
    height:100%;
}

body{
    padding:0;
    margin:0;
    width:100%;
    height:100%;
}
.header{
	padding:0;
    margin:0;
    width:100%;
    height:100%;
}
/*
 * NAV BAR STYLING
 */

.nav.nav-tabs .nav-options-right{
	float: right;
	right: 10px;
}

/*
 * HOME OPTIONS STYLING
 */
.logged-out-home {
	padding:0;
    margin:0;
    width:100%;
    height:100%;
}
.sammedalen-apps-logo {
	margin-left: 35%;
	width: 30%;
}
.sammedalen-apps-title {
	text-align: center;
	display: block;
	font-size: xx-large;
}
/*
 * HOME SIGN UP STYLING
 */
#sign-up-log-in{
	position: relative;
}
#log-in {
	margin-left: auto;
	margin-right: auto;
	width:30%;
}

#sign-up {
	margin-left: auto;
	margin-right: auto;
	width:30%;
}
/*
 * GAME OPTIONS STYLING
 */
#games-holder{
	
}
#games-holder #game-list-holder {
	width: 20%;
	height: 100%;
	position: relative;
	float: left;
}
#games-holder #current-game-holder{
	width: 80%;
	height: 100%;
	position: relative;
	float: right;
}
#games-holder #current-game-holder #new-game-holder{
	display: none;
	position: relative;
	float: left;
}
#games-holder #current-game-holder #new-game-holder .create-game-error-holder{
	display: none;
}
#games-holder #current-game-holder #invited-holder{
	display: none;
	position: relative;
	float: left;
}
#games-holder #current-game-holder #queue-holder{
	display: none;
	position: relative;
	float: left;
}
#games-holder #current-game-holder #invite-holder{
	display: none;
	position: relative;
	float: left;
}
#games-holder #current-game-holder #game-playspace-holder{
	width:100%;
	display: none;
	position: relative;
	float: left;
}
#game-playspace-holder #tic-tac-toe-game-holder{
	//height: 100%;
	//width: 100%;
}
#game-playspace-holder #tic-tac-toe-game-holder #tic-tac-toe-board-holer {
	//width: 100%;
	height: 80%;
}
#game-playspace-holder #tic-tac-toe-game-holder .tic-tac-toe-column{
	
	width: 30%;
	position: relative;
	float: left;
}
#game-playspace-holder #tic-tac-toe-board-holer .tic-tac-toe-square{
	height: 30%;
	width: 100%;
	position: relative;
	text-align: center;
	font-size: 25px;
	border-width: 1px;
	border-color: black;
}
#game-playspace-holder #tic-tac-toe-board-holer #tic-tac-toe-square-0-0{
	position: relative;
	border-right: solid;
	border-bottom: solid;
}
#game-playspace-holder #tic-tac-toe-board-holer #tic-tac-toe-square-0-1{
	border-right: solid;
	border-bottom: solid;
}
#game-playspace-holder #tic-tac-toe-board-holer #tic-tac-toe-square-0-2{
	border-bottom: solid;
}
#game-playspace-holder #tic-tac-toe-board-holer #tic-tac-toe-square-1-0{
	border-right: solid;
	border-bottom: solid;
}
#game-playspace-holder #tic-tac-toe-board-holer #tic-tac-toe-square-1-1{
	border-right: solid;
	border-bottom: solid;
}
#game-playspace-holder #tic-tac-toe-board-holer #tic-tac-toe-square-1-2{
	border-bottom: solid;
}
#game-playspace-holder #tic-tac-toe-board-holer #tic-tac-toe-square-2-0{
	border-right: solid;
}
#game-playspace-holder #tic-tac-toe-board-holer #tic-tac-toe-square-2-1{
	border-right: solid;
}
#game-playspace-holder #tic-tac-toe-board-holer #tic-tac-toe-square-2-0{

}
